{% extends "crud/layout.html.twig" %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ translator.trans('username', [], 'crud_view') }}</th>
            <th>{{ translator.trans('date_of_birth', [], 'crud_view') }}</th>
            <th>{{ translator.trans('photo', [], 'crud_view') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.dob.format('Y-m-d') }}</td>
                <td>{{ user.photo }}</td>
                <td><a href="{{ urlGenerator.generate('crud_edit', {'id': user.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}